// Font Variables
$family-primary   : "Quicksand", sans-serif;
$family-monospace : "Source Code Pro", monospace;
// Color Variables
$color-main       : #6a381f;
$color-main-light : #dcab6b;
$color-aux        : #774e24;
$color-aux-light  : #ffffb3;
$color-compl      : #6e0d25;

// Bulma's structure
@use "bulma/sass/utilities" with (
  // Colors
  $primary: $color-main,
  $link: $color-main-light,
  // Typography
  $family-primary: $family-primary,
  $family-secondary: $family-primary,
  $family-code: $family-monospace
);
@use "bulma/sass";

// Fonts
@use "@fontsource/quicksand";
@use "@fontsource/source-code-pro";
@forward "~@mdi/font/scss/materialdesignicons.scss";

html { padding-top: 1.5rem; }

// Set all paragraphs to justified alignment
p { text-align: justify; }

// Set all form fields to monospaced font
input,
select,
textarea,
label {
  font-family: $family-monospace;
}

.login.hero {
  figure {
    margin-left: auto;
    margin-right: auto;
  }
}
