// Font Variables
$family-primary   : "Quicksand", sans-serif;
$family-monospace : "Source Code Pro", monospace;
// Color Variables
$color-main       : #6a381f;
$color-main-light : #dcab6b;
$color-aux        : #774e24;
$color-aux-light  : #ffffb3;
$color-compl      : #6e0d25;

// Bulma's structure
@use "bulma/sass/utilities" with (
  // Colors
  $primary: $color-main,
  $link: $color-main-light,
  // Typography
  $family-primary: $family-primary,
  $family-secondary: $family-primary,
  $family-code: $family-monospace
);
@use "bulma/sass";

// Fonts
@use "@fontsource/quicksand";
@use "@fontsource/source-code-pro";
@forward "~@mdi/font/scss/materialdesignicons.scss";

html { padding-top: 1.5rem; }

// Set all paragraphs to justified alignment
p { text-align: justify; }

// Set all form fields to monospaced font
input,
select,
textarea,
label {
  font-family: $family-monospace;
}

.login.hero {
  figure {
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin left-border-color($color) {
  border-left: 1rem solid $color;
  box-shadow: 0 0.5em 1em -0.125em $color, 0 0px 0 1px $color;
}
.box{
  &.is-primary { @include left-border-color(hsl(171, 100%, 41%)); }
  &.is-link { @include left-border-color(hsl(217, 71%, 53%)); }
  &.is-info { @include left-border-color(hsl(204, 86%, 53%)); }
  &.is-success { @include left-border-color(hsl(141, 71%, 48%)); }
  &.is-warning { @include left-border-color(hsl(48, 100%, 67%)); }
  &.is-danger { @include left-border-color(hsl(348, 100%, 61%)); }
}
